body{
    margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 9px 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}